body {
  background-color: darkred;
  color: white;
  margin: 0px;
  padding: 0;
}
img{
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.title{
  margin-bottom: 50px;
  text-align: center;
}

